<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>JAFRA</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css" />

    <link href="css/tooplate-little-fashion.css" rel="stylesheet">

    <!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <main>

        <section class="sign-in-form section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 mx-auto col-12">

                        <h1 class="hero-title text-center mb-5">Ingresa</h1>

                        <div class="row">
                            <div class="col-lg-8 col-11 mx-auto">
                                <form id="iniciar-sesion-form" method="post">

                                    <div class="form-floating mb-4 p-0">
                                        <input type="text" name="correo" id="correo" class="form-control"
                                            placeholder="Email" required>

                                        <label for="email">Email</label>
                                    </div>

                                    <div class="form-floating p-0">
                                        <input type="password" name="contrasena" id="contrasena" class="form-control"
                                            placeholder="Contraseña" required>

                                        <label for="password">Contraseña</label>
                                    </div>

                                    <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                        Sign in
                                    </button>

                                    <p class="text-center">No tienes cuenta aun? <a href="sign-up.html">Crea una</a></p>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>


    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-10 me-auto mb-4">
                    <h4 class="text-white mb-3"><a href="index.html">JAFRA</a></h4>
                    <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2024 <strong>JAFRA</strong>
                    </p>
                    <br>
                    <p class="copyright-text">Designed by <a href="https://www.tooplate.com/"
                            target="_blank">Tooplate</a></p>
                </div>

                <div class="col-lg-5 col-8">
                    <h5 class="text-white mb-3">MENU</h5>
                    <ul class="footer-menu  flex-wrap">
                        <li class="footer-menu-item"><a href="index.html" class="footer-menu-link">INICIO</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">PRODUCTOS</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">CONTACTO</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-4">
                    <h5 class="text-white mb-3">Social</h5>

                    <ul class="social-icon">

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-skype"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        //logica inicio de sesion
        $(document).ready(function () {
            $('#iniciar-sesion-form').submit(function (event) {
                event.preventDefault();
                const correo = $('#correo').val();
                const contrasena = $('#contrasena').val();

                $.ajax({
                    url: '/iniciarSesion',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        correo,
                        contrasena
                    }),
                    success: function (response) {
                        alert(response.message);
                        window.location.href = 'index.html';
                    },
                    error: function (error) {
                        console.error('Error al iniciar sesión:', error);
                        alert('Error al iniciar sesión. Consulta la consola para más detalles.');
                    }
                });

                console.log(correo);
                console.log(contrasena);
            });
        });


    </script>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>